@import '../../theme/palette';

.counter {
  position: relative;
  padding-bottom: 8px;
  color: $paletteColor7;

  &::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -35px;
    width: 30px;
    height: 30px;
    background-image: url('../../theme/assets/post.png');
    background-repeat: no-repeat;
    background-size: 30px;
  }
}